POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_db_kamu
POSTGRES_DB=finance_tracker

FRONTEND_URL=http://localhost:5173
ALLOW_ORIGIN=http://localhost:5173

GOOGLE_CLIENT_ID=masukkan_client_id_google_disini
GOOGLE_CLIENT_SECRET=masukkan_client_secret_google_disini
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/google/callback

JWT_SECRET=rahasia_jwt_bebas

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=email_kamu@gmail.com
SMTP_PASSWORD=password_app_gmail_kamu